@import "./_variables.scss";

/*Hard Coded Cards*/

/*repace with nav*/
.card_container {
  display: none;
  position: fixed;
  top: $card_cointainer_space_for_top;
}
.show_cards {
  display: inline-flex;
}

.card {
  box-sizing: border-box;
  width: $card_width;
  height: $card_height;
  position: relative;
  text-align: center;
}

.card_icon_container {
  height: $card_icon_container_height;
  width: $card_icon_container_width;
  background-color: $black_background;
  border-radius: $card_icon_container_border_radius;
  position: relative;
  display: flex;
  justify-content: center;
  top: $card_icon_container_top;
  // left: $card_icon_container_left;
  margin: 0 auto;
}

.card_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: $card_icon_top;
}
.card_icon i {
  font-size: $large_icon;
}

.card_header {
  position: relative;
  top: $card_header;
  font-size: $card_font_size;
}

/*wip*/
.card_discription {
  position: relative;
  top: 200px;
  font-size: 17px;
  opacity: 0;
}

@mixin slider($bg_color) {
  color: $initialTextColor;

  background-image: linear-gradient(
    $initialBgColor 0%,
    $initialBgColor 50%,
    $bg_color 50%,
    $bg_color 100%
  );
  background-size: 100% 200%;
  transition: background-position 0.3s ease-in-out, 0.1s linear;

  &:hover {
    color: $slideTextColor;
    cursor: pointer;
    background-position: 100% 100%;
  }
}

.card_1 {
  @include slider($dark_purple);
}
.card_2 {
  @include slider($light_blue);
}
.card_3 {
  @include slider($peach);
}
.card_4 {
  @include slider($pink);
}
.card_5 {
  @include slider($light_purple);
}
