@import "./_variables.scss";

.nav {
  position: fixed;
  top: 0;
  width: $nav_width;
  height: $nav_height; 

  ul {
    list-style-type: none;
    margin: $nav_list_margin; 
    padding: $nav_list_padding;
    overflow: hidden;
    background-color: $nav_background;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    text-align: center;
    color: $text_gray;
    padding: $nav_list_item_padding;
    text-decoration: none;
  }
  li :hover {
    color: $white;
  }
}