/*static colors*/
$black_background: #010101;
$white: #fff;
$text_gray: #94a1b2;

$card_nav: #010101;
$dark_purple: #7c81e3;
$light_purple: #9f9fed;
$pink: #f4acb7;
$peach: #eabbb2;
$light_blue: #abd4ea;

/*sizes*/
$large: 48px;

/*colors for cards & slides*/

  $initialTextColor: #94a1b2;
  $slideTextColor: #fff;

  $initialBgColor: #010101;
  $slideBgColor: #9F9FED;