@import "./_variables.scss";

body {
  color: $text_color;
  background-color: $background_color;
}

button {
  color: $button_text_color;
  background-color: $button_background_color;

  &:hover {
    color: $button_hover_text_color;
  }
}
